/* .video-player{
    height: 56.25vw;
} */
iframe{
    position: absolute;
    top: 0;
    
}
@media (min-width:600px) {
    /* .video-container{
        width: 100%;
        padding-top: 56.25%;
    } */
    .video-player{
        position: relative;
        padding-bottom: 56.25%; 
    }
}