nav{
    height: 4rem;
    position: sticky;
    top: 0;
    z-index: 99;
    background: var(--inner-background);
}
aside{
    position: sticky;
    top: 4rem;
    z-index: 99;
    background: var(--inner-background);
    height: 100vh;
}
.mob-nav{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background: var(--inner-background);
    z-index: 9999;
}