@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
@import url("https://bucketcss.netlify.app/css/bucket-minify.css");
body{
    --primary-dark: #059669;
    --primary-default: #25A18A;
    --primary-light:#34D399;

    --grey-dark:#374151;
    --grey-default:#6B7280;
    --grey-light:#D1D5DB;
    --grey-opac:#d1d5db7e;


    --red-dark:#B91C1C;
    --red-default:#DC2626;
    --red-light:#EF4444;

    --yellow-dark:#e4b601;
    --yellow-default:#FACC15;
    --yellow-light:#FDE047;

    --green-dark:#166534;
    --green-default:#16A34A;
    --green-light:#22C55E;
    
    --sm-pd: 0.5rem 3vw;
    
    --black:#111827;
    --inner-text:#f7fafc;
    --background:#F4F5F7;
    --inner-background: #F7FAFC ;
    --foreground:#0e182a;
    font-family: 'Lato', sans-serif;
    background-color: var(--background);
    color: var(--foreground);
    margin: auto;
}
section{
    width: 100%;
}
label span{
    font-size: 1rem;
    cursor: pointer;
}
.ovr-flw-hide{
    overflow: hidden;
}
.pry-clr{
    color: var(--primary-dark);
}
.dis-grid{
    display: grid;
}
.responsive-img{
    width: 100%;
}
input[type=checkbox]{
    display: none;
}
fieldset{
    border: none;
    border-top : 1px solid var(--grey-light);
}
.sm-btn-pry{
    background: transparent;
}
input{
    width: 100%;
    max-width: none!important;
}
textarea:focus{
    outline: none;
    box-shadow: 0 0 0px .05rem var(--primary-default);
    border: 1px solid var(--primary-default);
}
main{
    grid-area: main;
}
nav{
    grid-area: nav;
}
aside{
    grid-area: aside;
}
main{
    grid-area: main;
}
@media (min-width:900px) {
    .aside-open{
        grid-template-columns: 250px auto;
        grid-template-areas: 
        " nav nav nav nav "
        " aside main main main ";
    }
    .aside-close{
        grid-template-areas: 
        " nav nav nav nav "
        " main main main main ";
        
    }
}